<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<h1> QUIZ- Teste dein Wissen!</h1>
<body>
<form action = '#' th:action="@{/quiz/save}" th:object="${test_attribute}" method="post">
    <p th:each="answer, stat:*{answers}">
        <span th:text="${answer.text}"></span>
        <input type="radio" name="answer" th:value="${answer.id}"></input>

    </p>
    <input type="hidden" th:field="*{id}"/></input>
    <span th:text="*{text}"></span>
    <br>
    <input type="submit" value="Save"></input>
</form>
</body>
</html>